/* src/styles/Header.css */
.header {
  background: linear-gradient(to bottom right, #deeeff, #91a1fa);
  height: 30%;
  color: rgb(3, 0, 0);
  padding: 0.5rem 0; /* Reduced padding */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures header stays on top */
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.logo.scrolled {
  filter: invert(100%);
  transform: scale(0.7);
}
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  max-width: 100%;
  height: auto;
}

.nav {
  flex-grow: 1;
  text-align: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-item {
  margin: 0 10px; /* Reduced margin */
}

.nav-item a {
  text-decoration: none;
  color: inherit; /* Use current text color */
  font-weight: bold;
}

.nav-item a:hover {
  color: #007bff;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto; /* Pushes contact info to the extreme right */
  text-align: right;
  font-size: 1.1em; /* Font size for visibility */
  font-weight: bold;
}

/* Burger menu */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  width: 20px; /* Reduced width */
  height: 3px;
  background-color: #343a40;
  margin: 3px 0; /* Reduced margin */
  transition: 0.4s;
}
.bar .scrolled {
  background-color: white !important;
}
/* Responsive styles */
@media (max-width: 768px) {
  .header-container {
    max-height: 15%;
    flex-direction: column;
    text-align: center;
  }

  .contact-info {
    text-align: center;
    margin-top: 10px;
    flex-direction: row;
    transform: scale(0.7);
  }
  .contact-info span {
    min-width:fit-content;
  }
  .nav {
    display: none;
  }

  .nav.open {
    display: block;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    margin: 5px 0; /* Further reduced margin */
  }

  .burger-menu {
    display: flex;
  }
}
