.hero {
  position: relative;
  background-color: #fafafb;
  margin-top: 10px;
  margin: 0.2rem;
}

.hero-why {
  width: auto;
  height:  auto;
  color: rgb(5, 0, 0);
  background-color: #fafafb;
  padding: 2rem;
}

@media (max-width: 768px) {
  .hero-slider {
    min-height: auto;
  }
}